
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p{
    border-style: dashed;
    padding: 1rem 1rem;
    border-width: 0.1rem;
    font-size: 100%;
    margin:1rem;
    
   
}
.popup {
    position: relative;
    display: inline-block;
  }
  
  
  /* The actual popup */
  
  .popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    left: 50%;
    margin-left: -80px;
    margin-top: 10px;
  }
  
  .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  }


h3{
    text-decoration: underline;
    padding-left: 1rem;
   
}
.mudmivi{
    padding-left: 1rem;
    font-size: 20px;
}

ul{
    line-height: 1.7;
    font-size: 20px;
   
    
}


.ushvilota-sia{
    padding: 1rem 1rem;
    padding-left: 1.5rem;
    line-height: 1.6;
    font-size: 20px;
}
.ushvilota{
    padding-left: 1.5rem;
    font-size: 25px;
}
.orsulni {
     padding-left: 1rem;
    font-size: 25px;
}
.orsulta-sia {
     padding: 1rem 1rem;
    padding-left: 1.5rem;
    line-height: 1.6;
    font-size: 20px;
}

.mudmivi-sia{
    padding-left: 1.5rem;
    font-size: 25px;

}
.udzlurni{
    padding-left: 1rem;
    font-size: 25px;
    display: flex;


}


.udzlurta-sia{
    padding: 1rem 1rem;
    padding-left: 1.5rem;
    line-height: 1.6;
    font-size: 20px;

}

.gansacdelshi{
    padding-left: 1rem;
    font-size: 25px;
}

.gansacdelshi-myofi{
    padding: 1rem 1rem;
    padding-left: 1.5rem;
    line-height: 1.6;
    font-size: 20px;
}

.daujdomlis-gogoebi{
    padding: 1rem 1rem;
    padding-left: 1.5rem;
    line-height: 1.6;
    font-size: 20px;

}
.daujdomlis{
    padding-left: 1rem;
    font-size: 25px;
}
.strongi{
    font-size: 20px;
    
}


#myBtn {
    display: none;
    position: fixed;
 
    right: 5px;
    bottom:90px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: rgba(22, 5, 119, 0.808);
    color: white;
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
  }
  
  #myBtn:hover {
    background-color: #3a3333d2;
  }

.dasasruli{
    font-size: 18px;
    padding: 0.8rem 0.8rem;
    border-width: 0.1rem;
    font-size: 18px;
    border-style: dashed;
    margin: 1rem;
    
}
.container {
    width:100%;
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
}
.btn {
    padding:5px 15px;
    background:#fff;
    outline: none;
    cursor:pointer;
    font-size:20px;
    font-weight:500;
    


}
.popup{
    width:400px;
    border-radius:6px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    color:#333;
    visibility: hidden;
    transition: transform 0.4s;
    background-color: #f0ecea;
    

}
.open-popup{
    visibility: visible;
    top:50%;
    transform: translate(-50%,-35%) scale(0.7);
    
}



.popup h2{
    font-size:20px;
    font-weight:500;
    margin:30px 0 10px;
}

.popup button{
    width:100%;
    margin-top:50px;
    padding: 10px 0;
    background:#cc210a;
    color: #fff;
    border: 0;
    outline:none;
    font-size: 18px;
    border-radius:4px;
    cursor:pointer;
    box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}




.container {
    width:100%;
    display:flex;
    align-items:flex-start;
    justify-content:flex-start;
}
.btn2 {
    padding:5px 15px;
    background:#fff;
    outline: none;
    cursor:pointer;
    font-size:20px;
    font-weight:500;

}



.accordion-body{
    background:#e9e5d77a;
}
 .accordion-button{
    background:#8b0a65;
}
.accordion .accordion-button{
    background:#79adf160;
}
.accordion .accordion-button::focus{
    background-color: #c42323;
}

.savedrebeli {
    font-size: 18px;
    display: flex; 
    flex-wrap: wrap;
    text-decoration: none;
    padding: 10px;
    color:black;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 700;
    margin-bottom:20px;
    margin-left: 10px;
    border-width: 0.1rem;
    text-decoration:underline;
    display: inline-block;

    
}
.savedrebeli:hover{
    background-color: #fbd4f8;
    border-radius: 12px;
    transition:ease-in;
}
.arrow{
    display: flex;
    height:2rem;
}
.savedrebeli2{
    display: flex; 
    flex-wrap: wrap;
    text-decoration: none;
    padding-left: 2rem;
    padding:5px 15px;
    line-height: 1.3;
    font-size: 18px;
    text-decoration: none;
    color: #333;
    border-color: #333;
     border-width: 0.1rem;
    border-style: dashed;
    margin-left: 15px;
    margin-right: 15px;
}



#countLabel {
    display:block;
    text-align: center;
    font-size:2em;
    font-family: helvetica;
}

#btnContainer {
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size:1.3em;
    color:#fff;
    background-color: #ec46acba;
    border-radius: 5px;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: #ac056cdd;
}
.udzlurni1{
    text-align: left;
    padding-left: 20px;
    font-size: 25px;
    font-weight: 500;
    text-decoration: underline;
}

form {
    display: block;
    text-align:left;
    padding-left:25px;
    min-height: 20vh;
}

form input,
form button {
    padding:0.2rem;
    font-size:25px;
    border:none;
    background:#e2dbdb;
    border-radius:2rem;
}
form button {
    color: rgb(87, 84, 74);
    background:#e5d1d100;
    cursor: pointer;
    transition: all 0.3 ease;
    margin-left: 0.5rem;
}
form button:hover {
    color: white;
    background: rgb(190, 53, 165);
}


.todo-container {
    display: flex;
    justify-content: flex-start;
    
}

.todo {
    margin: 0.1rem;
    background: white;
    color: black;
    font-size: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    border-radius: 2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 28px;
}
.todo-list {
     min-width: 10%; 
    list-style: none;
   
}

.todo li {
     flex: 1; 
     font-size: 20px;

}
.trash-btn
 {
    color: white;
    border: none;
    cursor: pointer;
    font-size: 25px;
}



.trash-btn {
    border-top-right-radius: 1.75rem;
    border-radius: 0%;
    background: rgb(36, 4, 31);
}
.todo-item {
    padding: 5px;
}

.fa-trash, 
.fa-check-circle {
    pointer-events: none;
}

.slide {
    transform: translateX(10rem);
    opacity: 0;
}
.sagamo{
    text-align: center;
    text-decoration: none;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
    font-size: 20px;
    color: #ff14c0;
    text-decoration: underline 1px;
    font-weight: 600;
    padding-bottom: 60px;
    /* text-decoration: dotted underline rgb(19, 31, 66); */
}

.fsalmuni{
    padding-top: 10px;
    text-align: center;
    text-decoration: none;
    margin-bottom:20px;
    display: flex;
    justify-content: center;
    font-size: 25px;
    color: #382b44;
    text-decoration: underline 1px;
    font-weight: 700;

}
.arrow2{
    display: flex;
    justify-content: flex-start;
    margin:1rem;
    margin-left: 1rem 0;
}
.arrow4{
    display: flex;
    justify-content: flex-end;
    margin:20px;
    margin-left: 140px;
    margin-top:-57px;
   

}
.arrow3{
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    margin:10px;
    width:30px;
    height:30px;

}
.increase,
.decrease{
    margin-left:20px;
    font-size: 20px;
    cursor: pointer;

}
.star{
    width:32px;
   
}

.dasawyisi{
    
    text-align: center;
    text-decoration: none;
    margin:20px;
    margin-top:5px
}

.troparni{
    text-align: center;
    text-decoration: none;
    margin:20px;

}
.makari{
    text-align: center;
    text-decoration: none;
    margin:20px;

}
.uflisa{
    text-align: center;
    text-decoration: none;
    margin:20px;

}

.suliwminda{
    text-align: center;
    text-decoration: none;
    margin:20px;

}

.locva{
    text-align: center;
    text-decoration: none;
    margin:20px;

}

.angelosis{
    text-align: center;
    text-decoration: none;
    margin:20px;

}

.kondaki{
    text-align: center;
    text-decoration: none;
    margin:20px;

}

.shvilta{
    text-align: center;
    text-decoration: none;
    margin:20px;
}




.jvarisadmi{
    text-align: center;
    text-decoration: none;
    margin:20px;
}

.calke{
    text-align: center;
    text-decoration: none;
    margin:20px;

}


.locva2{
    text-align: center;
    text-decoration: none;
    margin:20px;

}

.bolo{
    text-align: center;
    text-decoration: none;
    margin:20px;

}


.author{
    padding-left:17px;
    font-size:13px;
    color: #cc210a;
}
.text{
    font-size: 15px;
    padding-left:17px;
    
}
